@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.blobs {
  display: flex;
  overflow: hidden;

  white-space: nowrap;
  position: relative;
}

.blobs:before,
.blobs:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.blobs:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.blobs:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.blobs:hover .blobs-slide {
  animation-play-state: paused;
}

.blobs-slide {
  /* display: inline-flex; */
  animation: 30s slide linear infinite;
}

.blob-item {
  margin: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
